In [194]:
import os
import sys
os.path.dirname(sys.executable)

'c:\\Users\\Abdul\\Anaconda3'

In [195]:
# to transfer arabic number to english 
import pyarabic.trans

In [196]:
import pandas as pd
import numpy as np
import tabula

In [197]:


# # convert PDF into CSV file
tabula.convert_into("../data/class.pdf", "../data/output.csv", output_format="csv", pages='all')

In [198]:
# pd.set_option('display.max_rows', None)

# dealing with the nulls

In [199]:
df = pd.read_csv('../data/output.csv')

In [200]:
df.dropna(subset=['Unnamed: 14'] , inplace=True)

In [201]:
df.shape

(284, 17)

In [202]:
df.isna().sum()

فترة\rالاختبار    141
جاهزة               0
المستفيد            0
المحاضر             0
القاعة              0
الوقت               0
المسجلين            0
اعلى حد             0
التسلسل             0
النشاط              0
المستوى             5
س                   0
اسم المقرر        279
المقرر              0
Unnamed: 14         0
الشعب               5
Unnamed: 16         5
dtype: int64

In [203]:
df['اسم المقرر'].value_counts()

مبادئ لغات البرمجة               1
المدخل إلى الثقافة الإسلامية     1
الإسلام وبناء المجتمع            1
النظام الاقتصادي في الإسلام      1
أسس النظام السياسي في الإسلام    1
Name: اسم المقرر, dtype: int64

In [204]:
df[df['Unnamed: 14'].notna()].head(10)

,فترة\rالاختبار,جاهزة,المستفيد,المحاضر,القاعة,الوقت,المسجلين,اعلى حد,التسلسل,النشاط,المستوى,س,اسم المقرر,المقرر,Unnamed: 14,الشعب,Unnamed: 16
1,١٢,نعم,٤٤,اسلام خان محمد نضرول,٣٠٤,١١:١٠ ص,٠٩:٤٥ ص,١,٣٧,٥٠,١,نظري,NaN,٣,حساب التكامل,MATH١١٥,٨٤٦
3,١٢,نعم,٤٤,اسلام خان محمد نضرول,٣٠٤,٠٩:١٥ ص,٠٨:٠٠ ص,٢ ١,٤٣,٥٠,٢,نظري,NaN,٣,حساب التكامل,MATH١١٥,٨٤٧
4,١٢,نعم,٤٤,اسلام خان محمد نضرول,٣٠٢,٠١:١٥ م,١٢:٠٠ م,٢,٢٨,٥٠,٣,نظري,NaN,٣,حساب التكامل,MATH١١٥,٨٤٨
6,١٢,لا,٤٤,لم يحدد من الكلية,لم تحدد من الكلية,١١:١٠ ص,٠٩:٤٥ ص,١,٠,٤٠,٤,نظري,NaN,٣,حساب التكامل,MATH١١٥,٢٢٧٨
8,١٢,لا,٤٤,لم يحدد من الكلية,لم تحدد من الكلية,٠٩:١٥ ص,٠٨:٠٠ ص,٢ ١,٠,٤٠,٥,نظري,NaN,٣,حساب التكامل,MATH١١٥,٢٢٧٩
9,١٢,لا,٤٤,لم يحدد من الكلية,لم تحدد من الكلية,١٢:٤٥ م,١١:٣٠ ص,١,٠,٤٠,٦,نظري,NaN,٣,حساب التكامل,MATH١١٥,٢٢٨٠
11,١٢,نعم,٤٤,انور حسين حسين ساديال,٣٠٣,١١:٠٠ ص,٠٩:٤٥ ص,٢ ١,٣٧,٥٠,١,نظري,NaN,٣,الجبر الخطي والحساب متعدد المتغيرات,MATH١١٦,٨٤٩
12,١٢,نعم,٤٤,انور حسين حسين ساديال,٢٠١,٠٩:١٥ ص,٠٨:٠٠ ص,٢ ١,١٩,٥٠,٢,نظري,NaN,٣,الجبر الخطي والحساب متعدد المتغيرات,MATH١١٦,٨٥٠
13,١٢,نعم,٤٤,انور حسين حسين ساديال,٢٠٣,٠٤:١٥ م,٠٣:٠٠ م,١,١١,٥٠,٣,نظري,NaN,٣,الجبر الخطي والحساب متعدد المتغيرات,MATH١١٦,٨٥١
15,١٢,لا,٤٤,لم يحدد من الكلية,لم تحدد من الكلية,١١:٠٠ ص,٠٩:٤٥ ص,٢ ١,٠,٤٠,٤,نظري,NaN,٣,الجبر الخطي والحساب متعدد المتغيرات,MATH١١٦,٢٢٨١

In [205]:
df[df['اسم المقرر'].notna()]

,فترة\rالاختبار,جاهزة,المستفيد,المحاضر,القاعة,الوقت,المسجلين,اعلى حد,التسلسل,النشاط,المستوى,س,اسم المقرر,المقرر,Unnamed: 14,الشعب,Unnamed: 16
71,NaN,نعم,٤٤,ابراهيم جديد سعود العنزى,لم تحدد من الكلية,لم يحدد من الكلية,٣٤,٤٠,١,عملي,NaN,٣,مبادئ لغات البرمجة,CS ٢١٣,٧٣٢,NaN,NaN
354,١,نعم,٤٤,نائل محمد ابراهيم قرقز,لم تحدد من الكلية,لم يحدد من الكلية,١٠٠,١٠٠,٣,نظري,NaN,٢,المدخل إلى الثقافة الإسلامية,IC ١٠١,٧٨٣,NaN,NaN
355,٢,نعم,٤٤,نائل محمد ابراهيم قرقز,لم تحدد من الكلية,لم يحدد من الكلية,١٢٩,١٠٠,٢,نظري,NaN,٢,الإسلام وبناء المجتمع,IC ١٠٢,٧٨٤,NaN,NaN
356,٥,نعم,٤٤,حمد عبدالله حمد الصقعبي,لم تحدد من الكلية,لم يحدد من الكلية,٠,١٠٠,٤,نظري,NaN,٢,النظام الاقتصادي في الإسلام,IC ١٠٣,٧٨٥,NaN,NaN
359,٢,نعم,٤٤,عادل عبدالله صالح الشبعان,لم تحدد من الكلية,لم يحدد من الكلية,٠,١٠٠,٥٣,نظري,NaN,٢,أسس النظام السياسي في الإسلام,IC ١٠٤,٥٢٨٤,NaN,NaN

In [206]:
df['index'] = df.index

In [207]:
list1 = list(df[df['اسم المقرر'].notna()]['index'])

In [208]:
for index, row in df.iterrows():
    if index in list1 : 
        df['Unnamed: 16'][index] = row['Unnamed: 14']
        df['الشعب'][index] = row['المقرر'] 
        df['Unnamed: 14'][index] = row['اسم المقرر']
        df['المقرر'][index]  = row['س']
        df['اسم المقرر'][index] = row['المستوى']
        df['س'][index]= row['النشاط']
        df['المستوى'][index] = row['التسلسل']
        df['النشاط'][index] = row['اعلى حد']
        df['التسلسل'][index] = row['المسجلين']
        df['اعلى حد'][index] = 'لم يحدد من الكلية	'
        df['المسجلين'][index] = 'لم يحدد من الكلية'

C:\Users\Abdul\AppData\Local\Temp\ipykernel_6380\2268249331.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Unnamed: 16'][index] = row['Unnamed: 14']
C:\Users\Abdul\AppData\Local\Temp\ipykernel_6380\2268249331.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['الشعب'][index] = row['المقرر']
C:\Users\Abdul\AppData\Local\Temp\ipykernel_6380\2268249331.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Unnamed: 14'][index] = row['اسم المقرر']
C:\Users\Abdul\AppData\Local\Temp\ipykernel_6380\2268249331.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['المقرر'][index]  = row['س']
C:\Users\Abdul\AppData\Local\Temp\ipykernel_6380\2268249331.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['اسم المقرر'][index] = row['المستوى']
C:\Users\Abdul\AppData\Local\Temp\ipykernel_6380\2268249331.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['س'][index]= row['النشاط']
C:\Users\Abdul\AppData\Local\Temp\ipykernel_6380\2268249331.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['المستوى'][index] = row['التسلسل']
C:\Users\Abdul\AppData\Local\Temp\ipykernel_6380\2268249331.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['النشاط'][index] = row['اعلى حد']
C:\Users\Abdul\AppData\Local\Temp\ipykernel_6380\2268249331.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['التسلسل'][index] = row['المسجلين']
C:\Users\Abdul\AppData\Local\Temp\ipykernel_6380\2268249331.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['اعلى حد'][index] = 'لم يحدد من الكلية	'
C:\Users\Abdul\AppData\Local\Temp\ipykernel_6380\2268249331.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['المسجلين'][index] = 'لم يحدد من الكلية'

In [209]:
df.isna().sum()

فترة\rالاختبار    141
جاهزة               0
المستفيد            0
المحاضر             0
القاعة              0
الوقت               0
المسجلين            0
اعلى حد             0
التسلسل             0
النشاط              0
المستوى             0
س                   0
اسم المقرر        284
المقرر              0
Unnamed: 14         0
الشعب               0
Unnamed: 16         0
index               0
dtype: int64

In [210]:
df.drop('اسم المقرر' , axis=1 , inplace=True)

## rename columns

In [211]:
col = list(df.columns)

In [212]:
df.head(1)

,فترة\rالاختبار,جاهزة,المستفيد,المحاضر,القاعة,الوقت,المسجلين,اعلى حد,التسلسل,النشاط,المستوى,س,المقرر,Unnamed: 14,الشعب,Unnamed: 16,index
1,١٢,نعم,٤٤,اسلام خان محمد نضرول,٣٠٤,١١:١٠ ص,٠٩:٤٥ ص,١,٣٧,٥٠,١,نظري,٣,حساب التكامل,MATH١١٥,٨٤٦,1

In [213]:
col[0]

'فترة\rالاختبار'

In [214]:
# from re import T


df = df.rename(columns={"Unnamed: 16": "الشعبة", "الشعب": "المقرر", "Unnamed: 14": "اسم المقرر", "المقرر": "ساعات المقرر", "س": "1المستوى", "النشاط": "اعلى حد", "التسلسل": "المسجلين", "اعلى حد": "الايام", "المسجلين": "من" , "الوقت": "الى"} )

In [215]:
df = df.drop(columns=['index'])

In [216]:
df = df.rename(columns={df.columns[10]:"التسلسل" ,df.columns[11] : 'النشاط'} )

In [217]:
df = df.rename(columns={df.columns[0]:"فتره"} )

In [218]:
# df

In [219]:
df['المقرر'].value_counts()

CS  ٤٩٨    15
IT  ٤٩٨    15
PHYS١١٦    12
IT  ١٣١    12
CS  ١٨١    12
           ..
COE ٤٩٢     1
COE ٤٩٣     1
CS  ٣١٥     1
MATH٢١٨     1
COE ٤٣٢     1
Name: المقرر, Length: 99, dtype: int64

In [225]:
for ind , row in df.iterrows() :
    for i in df.columns :
        try:
            df[i][ind] = pyarabic.trans.normalize_digits(row[i])
        except:
            pass

فتره                               25
جاهزة                             نعم
المستفيد                           44
المحاضر         صالح ناصر محمد السلمى
القاعة                            103
الى                           09:15 ص
من                            08:00 ص
الايام                            3 1
المسجلين                           53
اعلى حد                            50
التسلسل                             1
النشاط                           نظري
ساعات المقرر                        3
اسم المقرر         مفاهيم الخوارزميات
المقرر                        CS  211
الشعبة                            729
Name: 67, dtype: object

In [231]:
df['المقرر'].value_counts()

CS  498    15
IT  498    15
PHYS116    12
IT  131    12
CS  181    12
           ..
COE 492     1
COE 493     1
CS  315     1
MATH218     1
COE 432     1
Name: المقرر, Length: 99, dtype: int64

In [232]:
df.to_csv('../data/class.csv' , index=False)
#