In [30]:
import pandas as pd
import numpy as np

In [50]:
# from pandas import read_csv


dfc = pd.read_csv('../data/class.csv')
dfs = pd.read_csv('../data/StudentGPA.csv')

In [67]:
dfc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   فتره          143 non-null    float64
 1   جاهزة         284 non-null    object
 2   المستفيد      284 non-null    int64
 3   المحاضر       284 non-null    object
 4   القاعة        284 non-null    object
 5   الى           284 non-null    object
 6   من            284 non-null    object
 7   الايام        284 non-null    object
 8   المسجلين      284 non-null    int64
 9   اعلى حد       284 non-null    int64
 10  التسلسل       284 non-null    int64
 11  النشاط        284 non-null    object
 12  ساعات المقرر  284 non-null    int64
 13  اسم المقرر    284 non-null    object
 14  المقرر        284 non-null    object
 15  الشعبة        284 non-null    int64
dtypes: float64(1), int64(6), object(9)
memory usage: 35.6+ KB

In [65]:
dfc[dfc['الشعبة']==812]

,فتره,جاهزة,المستفيد,المحاضر,القاعة,الى,من,الايام,المسجلين,اعلى حد,التسلسل,النشاط,ساعات المقرر,اسم المقرر,المقرر,الشعبة
109,NaN,نعم,44,مراد عبده رسام قاسم,lab-222,11:25 ص,09:45 ص,5,19,40,1,عملي,3,علم البيانات لإنترنت الاشياء,IT 351,812

In [28]:
dfc = dfc.replace(r'NaN', np.NaN)

In [29]:
# the number of the class and where it is

In [128]:
#we can fix this by add new column and seperate the number of class EX(351) and IT , CS (had issue with spacing)
x = 'IT  351'
df = dfc[(dfc['المقرر'] ==x) &(dfc['النشاط'] =='نظري')]
# print('there are 'list(df['الشعبة']))
print(f'فيه {len(df) } شعب  {list(df.الشعبة)}')
for ind , row in df.iterrows() :
    print(f' الشعبة {row.الشعبة} يوم {row.الايام} تبدا {row.من} وتنتهي {row.الى} في القاعة {row.القاعة}')
# later on i will change it to function and replace the print to return

فيه 2 شعب  [810, 811]
 الشعبة 810 يوم 2 تبدا 12:00 م وتنتهي 01:40 م في القاعة 201
 الشعبة 811 يوم 1 تبدا 04:00 م وتنتهي 05:50 م في القاعة 206

In [130]:
# Tell The name of the instructor

In [131]:
x = 'IT  351'
df = dfc[(dfc['المقرر'] ==x) &(dfc['النشاط'] =='نظري')]
print(f'فيه {len(df) } شعب  {list(df.الشعبة)}')
for ind , row in df.iterrows() :
    print(f' الشعبة {row.الشعبة} محاضرها {row.المحاضر}')

فيه 2 شعب  [810, 811]
 الشعبة 810 محاضرها ريحان الله خان عصمت الله خان
 الشعبة 811 محاضرها ريحان الله خان عصمت الله خان

23.0

In [141]:
# tell the date of the exam 
x = 'IT  351'
df = dfc[(dfc['المقرر'] ==x) &(dfc['النشاط'] =='نظري')]
x = list(df['فتره'])[0]
print(f"اختبار الماده سيمون في الفتره{x}")

اختبار الماده سيمون في الفتره23.0